/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('Background.png');
    background-position: center;
    background-size: cover;
}

h3 {
  padding: 5px;
}

.vf-quiz img {
  width: 600px;
  position: center;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

::selection{
    color: #a74b3a;
    background: #eec87c;
}

.opening {
  text-align: center;
}

.space {
  padding-bottom: 150px;
}

.opening {
  align-items: center;
}

.gamemode_btn button {
  font-size: 25px;
  font-weight: 500;
  color: #eec87c;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #a74b3a;
  cursor: pointer;
  text-align: center;
}

.gamemode_btn button:active {
  color: #a74b3a;
  background: #eec87c;
}

.h11 {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  color: #eec87c;
}

.h12 {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
  color: #eec87c;
}

.h31 {
  padding-left: 15%;
  color: #eec87c;
  padding-bottom: 25px;
}

.h32 {
  text-align: center;
  color: #eec87c;
  padding-bottom: 25px;
}

.easylevel {
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav {
  overflow: hidden;
  background-color: #a74b3a;
  width: 100%;
}

.topnav a {
  float: left;
  color: #222021;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eec87c;
  color: #a74b3a;
}

.topnav a.active {
  background-color: #eec87c;
  color: #a74b3a;
}

.topnav-right {
  float: right;
}

.start_btn,
.home_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #eec87c;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #a74b3a;
    cursor: pointer;
}

.start_btn .easy1,
.easylevel .ruby{
    font-size: 25px;
    font-weight: 500;
    color: #222021;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #da5740;
    cursor: pointer;
}

.start_btn .easy2,
.easylevel .topaz{
    font-size: 25px;
    font-weight: 500;
    color: #222021;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #eee061;
    cursor: pointer;
}

.start_btn .easy3,
.easylevel .sapphire{
    font-size: 25px;
    font-weight: 500;
    color: #222021;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #6183e2;
    cursor: pointer;
}

.start_btn .easy4,
.easylevel .emerald {
    font-size: 25px;
    font-weight: 500;
    color: #222021;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #53dd4e;
    cursor: pointer;
}

.start_btn .easy5,
.easylevel .purpur {
    font-size: 25px;
    font-weight: 500;
    color: #222021;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #ce5cdd;
    cursor: pointer;
}

.start_btn .easy6,
.easylevel .ender {
    font-size: 25px;
    font-weight: 500;
    color: #222021;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #1e8a47;
    cursor: pointer;
}

.start_btn .easy1:hover,
.easylevel .ruby:hover {
  color: #eec87c;
  background: #773428;
}

.start_btn .easy2:hover,
.easylevel .topaz:hover {
  color: #eec87c;
  background: #8d8434;
}

.start_btn .easy3:hover,
.easylevel .sapphire:hover {
  color: #eec87c;
  background: #2f4685;
}

.start_btn .easy3:hover,
.easylevel .emerald:hover {
  color: #eec87c;
  background: #4ba049;
}

.start_btn .easy3:hover,
.easylevel .purpur:hover {
  color: #eec87c;
  background: #793183;
}

.start_btn .easy3:hover,
.easylevel .ender:hover {
  color: #eec87c;
  background: #1d5332;
}

.easylevel button{
    font-size: 25px;
    font-weight: 500;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin:10px;

}

.info_box{
    width: 550px;
    color:#222021;
    background: #a74b3a;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #eec87c;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #eec87c;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid#eec87c;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #eec87c;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    color:#222021;
    background: #a74b3a;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    color:#222021;
    background: #a74b3a;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #eec87c;
    background: #fff9be;
    border: 1px solid #fff9be;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #eec87c;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #a74b3a;
    border: 1px solid #a74b3a;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #eec87c;
}

section{
    padding: 25px 30px 20px 30px;
    background: #a74b3a;
}

section .que_text{
    font-size: 2vw;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: #fff9be;
    border: 1px solid #eec87c;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 1.3vw;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #a74b3a;
    background: #eec87c;
    border: 1px solid #eec87c;
}

section .option_list .option.correct{
    color: #155724;
    background: #b8ffc9;
    border: 1px solid #b8ffc9;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #ffb2b9;
    border: 1px solid #ffb2b9;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eec87c;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 1.8vw;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #a74b3a;
    border-radius: 5px;
    background: #eec87c;
    border: 1px solid #eec87c;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #bba06b;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #a74b3a;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #a74b3a;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #eec87c;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #a74b3a;
    background: #eec87c;
}

.buttons button.restart:hover{
    background: #bba06b;
}

.buttons button.quit{
    color: #eec87c;
    background: #a74b3a;
}

.buttons button.quit:hover{
    color: #a74b3a;
    background: #eec87c;
}

.buttons button.topaz{
    color: #eec87c;
    background: #a74b3a;
}

.buttons button.topaz:hover{
    color: #a74b3a;
    background: #eec87c;
}

.logo {
  width:600px;
    display: block;
    margin: 0 auto;
}